{% extends "base.html" %}
{% block title %} Lista de libros {% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-primary" href="{% url 'create_book' %}" role="button">
            Crear libro
        </a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Libros</h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Título</th>
                        <th>Imagen</th>
                        <th scope="col">Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if books|length > 0 %}
                        {% for book in books %}
                        <tr class="">
                            <td>{{ book.id }}</td>
                            <td>{{ book.title }}</td>
                            <td>
                                <img src="{{ book.image.url }}" alt="" height="100">
                                <!-- {{ book.image }} -->
                            </td>
                            <td>{{ book.description }}</td>
                            <td>
                                <a 
                                name="" 
                                id="" 
                                class="btn btn-info" 
                                href="{% url 'edit_book' book.id %}" 
                                role="button">Editar</a>

                                <a 
                                name="" 
                                id="" 
                                class="btn btn-danger" 
                                href="{% url 'delete_book' book.id %}" 
                                role="button">Borrar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    <p>No hay información a mostrar</p>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}